* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS';
    background-color: black;
}

#main {
    display: flex;
    flex-direction: column;
}

#nav {
    display: flex;
    flex-direction: row;
    background-color: rosybrown;
    justify-content: flex-start;
    top: 0;
    position: fixed;
    height: 5vh;
    width: 100%;
    align-items: center;
    padding-left: 4vw;
}

.nav_icons {
    display: flex;
    align-self: center;
    width: 2vw;
    height: 2vw;
    padding: 1vw;
}

.navi {
    display: flex;
    flex-direction: row;
    align-self: center;
}


a:hover {
    filter: invert(100%)
}


#content {
    display: flex;
    flex-direction: column;
}

.white {
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 49vh;
    width: 100%;
    padding-top: 10vh;
    padding-top: 5vh;
}

.black {
    background-color: rosybrown;
    height: 49vh;
    width: 100%;
    color: black;
    padding-top: 10vh;
    padding-top: 5vh;
}

h1 {
    font-family: 'Book Antiqua';
    font-size: 7em;
    text-align: left;
    padding-left: 5vw;
}

h3 {
    font-family: 'Book Antiqua';
    font-size: 2em;
    text-align: left;
    padding-left: 5vw;
}

#bio {
    display: flex;
    flex-direction: row;
}

#vector_mek {
    width: 25vw;
    padding-left: 5vw;

}

#avion_projs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 7vw;
}

.avion_proj {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px double black;
    width: 10vw;
    height: 2.5vw;
    text-align: center;
    justify-content: center;
    margin-top: 1vh;

}

a {
    text-decoration: underline;
    color: black;
}